html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

h1{
  margin: 0px;
  margin-top: 10px;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.layout > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  height: 60px;
  gap: 30px;
  margin: 20px;
}

.button-container button{
  background-color: white;
  border: solid 1px black;
  padding: 10px;
  width: 100px;
  font-weight: 700;
}

.result_box{
  margin: 5px;
  margin-top: 20px;
  height: 20px;
}

.game_box{
  height: 20px;
  margin-bottom: 20px;
  font-weight: 900;
}

.counter-set{
  gap: 20px;
}

.counter{
  border: 1px solid white;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.bookend{
  left: 0px;
  right: 0px;;
  width: 100%;
}

.footer{
  align-self: flex-end;
  margin-top: auto;
}

button:hover{
  background-color: crimson;
  color: white;
  font-weight: 800;
}